<button
  tabindex="0"
  type="button"
  class="button button--close {{ class }}"
  data-close
>
  {%- render 'icon', icon: 'close', class: 'icon--s' -%}
  <span class="caption">{{ 'accessibility.close' | t }}</span>
</button>